# Node modules
node_modules/


# Environment variables
 .env

# Logs
logs
*.log

# OS/System files
.DS_Store
Thumbs.db

# Sequelize specific
config/config.json
test.js
phases.txt.env
